body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   color:#555555;
}

a {
  color: #00B7FF;
  font-size:12px;
}

.loginPanel a:hover {
  text-decoration: none;
  cursor: hand;
}

.loginPanel a:visited {
  text-decoration: none;
  cursor: hand;
}

.loginPanel {
  text-decoration: none;
  cursor: hand;
  color: #3B5999;
  font-size:12px;
  font-weight: normal;
}


